@model Doktori.ViewModels.AdminLogin

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="your-styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div class="row align-items-center" style="height: 100vh">
            <div class="col">
                <h1 style="font-weight: bold; margin-top: 3rem; font-size: 45px">
                    Menaxho Doktoret
                </h1>
                <form asp-controller="Home" asp-action="SubmitAdminLogin" method="post" class="d-flex flex-column mt-5">
                    <div class="form-group"
                         style="width: 400px; display: flex; flex-direction: column">
                        <label style="color: #00000099; font-weight: 500">Email</label>
                        <input asp-for="Email" type="email"
                               placeholder="filanfisteku@gmail.com"
                               required
                               style="height: 50px" />
                    </div>

                    <div class="form-group"
                         style="
                width: 400px;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
              ">
                        <label style="color: #00000099; font-weight: 500">Password</label>
                        <input asp-for="Password" type="password"
                               placeholder="*********"
                               required
                               style="height: 50px" />
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <button type="submit"
                            class="btn"
                            style="
                width: 400px;
                height: 50px;
                font-weight: 500;
                top: 208px;
                color: white;
                padding: 15px 0;
                border-radius: 10px;
                border: none;
                background: linear-gradient(90deg, #15cac4 0%, #1b6be1 100%);
                margin-top: 3.5rem;
              ">
                        Kyçu
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
