@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"> <!-- Include your CSS file here -->
  <title>Your Website Title</title>
</head>
<body>

  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-xs-12 col-md-6 logocol">
        <img src="images/Frame 1.png" alt="Logo">
      </div>
      <div class="col-xs-12 col-md-6 d-none d-lg-flex justify-content-end">
        <a href="/signin" class="btnkyqu" style="width: 140px; height: 40px; background: linear-gradient(270deg, #1b6be1 0%, #15cac4 100%); border-radius: 10px; border: none; color: white; font-size: 15px; font-weight: 500; text-align: center; margin-top: 0.5rem; padding-top: 8px;">Kyçu këtu</a>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
      <p style="width: 170px; height: 40px; border-radius: 10px; color: #1b6be1; background: linear-gradient(90deg, rgba(21, 202, 196, 0.06) 0%, rgba(27, 107, 225, 0.06) 100%); font-size: 15px; font-weight: 500; text-align: center; display: flex; justify-content: center; align-items: center;">Kujdes mjeksor 👨🏻‍⚕️</p>
    </div>

    <div class="row">
      <h1 style="font-size: 64px; font-weight: 700; text-align: center; margin-top: 2rem;">Menaxho pacientet tuaj</h1>
      <h1 class="d-none d-sm-block" style="font-size: 64px; font-weight: 700; text-align: center; margin-top: 2rem;">Mos humb kohë</h1>
    </div>

    <div class="row d-flex justify-content-center mt-5">
      <a href="/signin" class="btnkyqu" style="width: 170px; height: 50px; background: linear-gradient(270deg, #1b6be1 0%, #15cac4 100%); border-radius: 10px; border: none; color: white; font-size: 16px; font-weight: 500; box-shadow: 10px 10px 100px #1b6be1; margin-top: 2rem; align-items: center; padding-top: 12px;">Kyçu këtu</a>
    </div>

    <div class="row d-flex justify-content-center">
      <img src="images/phones.png" alt="Phones" class="img-fluid d-none d-lg-block" style="width: auto; height: 756px; margin-top: 10vh; z-index: -1;">
      <img src="images/MobilePhone.png" alt="Phones" class="img-fluid d-block d-lg-none" style="width: 380px; margin-top: 10vh; z-index: -1;">
    </div>

    <div class="row d-flex justify-content-center mt-5">
      <h1 style="font-size: 55px; font-weight: 700; text-align: center;">Thjeshtë, Shpejtë & Sigurt</h1>
    </div>

    <div class="row" style="text-align: center; font-weight: 500; margin-top: 3rem;">
      <div class="col">
        <img src="images/RegjistrimiVizitave.png" alt="icon" style="max-width: 20rem; height: auto; margin-bottom: -2rem;">
        <h3>Regjistrimi i Vizitave</h3>
        <p>Vendosni dhe shikoni takimet me pacientët tuaj</p>
      </div>
      <div class="col">
        <img src="images/ListaPacientave.png" alt="icon" style="max-width: 20rem; height: auto; margin-bottom: -2rem;">
        <h3>Listave e Pacientëve</h3>
        <p>Mbani evidencë të plotë të historisë mjekësore të pacientit</p>
      </div>
      <div class="col">
        <img src="images/HistorikuMjeksor.png" alt="icon" style="max-width: 20rem; height: auto; margin-bottom: -2rem;">
        <h3>Historiku Mjekësor</h3>
        <p>Shikoni pacientet tuaj dhe gjeni informacionin që kërkoni</p>
      </div>
    </div>

    <div class="row" style="border-top: 1px solid grey; margin-top: 5rem; padding-top: 1rem; width: 100vw;">
      <div class="col-xs-12 col-md-6 col-lg-4 d-flex flex-column align-items-center mt-1">
        <img src="images/Frame 1.png" alt="Foto">
        <p style="font-weight: 600; margin-left: 1.5rem;">Menaxho Pacientet</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center mt-2">
        <div class="d-inline-block">
          <h4>Contact us</h4>
          <p>+383 45 851 726</p>
          <p>info@pikpik.app</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center mt-2">
        <div class="d-inline-block" style="margin-left: 2rem; margin-right: 1rem;">
          <h4>Legal</h4>
          <p>Privacy Policy</p>
          <p>Cookie Policy</p>
          <p>Terms of Use</p>
        </div>
      </div>
    </div>


  </div>

</body>
</html>
